@CHARSET "ISO-8859-1";
/* Body */
body{
	font-family: "Trebuchet MS",  sans-serif;
}

/* Side menu */
.sidenav {
    width: 170px;
    height: 200%;
    background-color: #eee;
    float: left;
}

.sidenav a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.sidenav a:hover {
    background-color: #ccc;
}

.sidenav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Main div */
#main{
	padding-left: 200px;
	padding-top: 10px;
}

/* Header */
.header {
  overflow: hidden;
  background-color: white;
}

#AirBookingImg{
	width: 100%;
   height: 200px;
}

/* Buttons */
.button{
	background-color: #ADA7A2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
    border-radius: 10px;
}
.button:hover {
  opacity:1;
}
.button:disabled{
	background-color:  #DDD9D6;
	cursor:not-allowed;
}

/* Error messages */
.errorMsg{
	color: red;
}

.errorSignUp{
	float: center;
}

